.header-bar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 24px;
  background: #daf8ff;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  width: 65px;
  height: 65px;
  object-fit: contain;
}

.app-title {
  font-size: 22px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
